@import url("vars.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
.bg_primary{
    background-color: var(--primary);
}
.bg_secondary{
    background-color: var(--secondary);
}
.bg_tertiary{
    background-color: var(--tertiary);
}
.bg_fourth{
    background-color: var(--fourth);
}
.bg_green{
    background-color: #fdffea;
}
.degradado{
    background: linear-gradient(90deg, var(--primary) 40%, var(--fourth) 75% );
}
.text_primary{
    color: var(--primary);
}
.text_secondary{
    color: var(--secondary);
}
.text_tertiary{
    color: var(--tertiary);
}
.text_fourth{
    color: var(--fourth);
}
.texto-justificado{
    text-align: justify;
}
.overlay{
    position: absolute;
    background-color: #0000002c;
}

.font_mochiy{
    font-family: 'Mochiy Pop P One', sans-serif;
}